# main.py.j2
import sys
from PyQt5.QtWidgets import QApplication, QMainWindow
from views.mainWindow import Ui_MainWindow

class clsMainWindow(QMainWindow):
    def __init__(self):
        super().__init__()
        self.ui = Ui_MainWindow()
        self.ui.setupUi(self)
        self.ui.label.setText("Hello from {{project_name}}!")

if __name__ == '__main__':
    app = QApplication([])
    f = clsMainWindow()
    f.show()
    sys.exit(app.exec_())
