# main.py.j2
import sys
from PyQt5.QtWidgets import QApplication, QMainWindow
from controller.ClsMainWindow import ClsMainWindow

if __name__ == '__main__':
    app = QApplication([])
    f = ClsMainWindow()
    f.show()
    sys.exit(app.exec_())
